.env
/dist
/node_modules

# AWS SAM
.aws-sam/
samconfig.toml.bak
packaged-template.yaml

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Runtime
.no-wing/
response.json
